<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн-магазин флагов: процессинг</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="sidebar-block">
        <h1>Биржа <s>мемов</s> флагов</h1>
        <p><a href="/">Главная</a></p>
        <p><a href="/goods/1/">Флаг Франции</a></p>
        <p><a href="/goods/2/">Флаг CTF</a></p>
        <p>Используется процессинг Банка России</p>
        <p>Copyright &copy; Правительство России, 8101</p>
    </div>
    <div class="main-block">
        <h1>Обработка покупки</h1>
        <p>{{ price }} долларов РФ</p>
        <p>Карта: {{ card_number }} (Карта МИР, Банк России)</p>
        <p>На ваш телефон отправлено СМС с кодом подтверждения покупки.</p>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/check_sms/" method="GET">
            <input type="hidden" name="id" value="{{ id }}" />
            <input type="hidden" name="price" value="{{ price }}" />
            <input type="hidden" name="card" value="{{ card_number }}" />
            <p><label>Введите код из СМС:</label>
                <input type="text" name="code" minlength="4" maxlength="4" placeholder="1234" />
            </p>
            <button>Завершить операцию</button>
        </form>
    </div>
</body>
</html>